.Rproj.user
.Rhistory
.RData
.Ruserdata
data

# LaTeX intermediate files
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)
*.bcf
*.blg
*.bbl
*.run.xml
*.out
*.nav
*.snm
*.toc
*.vrb
*.dvi
*.xdv
*.lof
*.lot
*.ilg
*.ind
*.idx
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.mw
*.maf
*.mtc*
*.fmt
*.fot
*.cb
*.cb2
